.eds-categories {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}


.eds-widget h4 {
	margin-bottom: 15px;
}


.eds-documentation-home {
	border-top: 1px solid #e1e1e8;
	margin-top: 30px;
	padding-top: 15px;
}

.doc-heading {
	border-bottom: 1px solid #ddd

}
.doc-body {
	margin: 15px 0 30px;
}
@media (min-width: 782px) {
	.doc-body ul {
		-moz-column-count: 2;
		-moz-column-gap: 30px;
		-webkit-column-count: 2;
		-webkit-gap: 30px;
		column-count: 2;
		column-gap: 30px;
	}
}
